<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>movie</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
</head>

<body>
    <script>
    var socket = io.connect();

    socket.on('connect', function() {
        // socket.emit('room', {
        //     room: ''
        // });
    });

    $(document).ready(function() {
        socket.on('playVideo1', function(data) {
            console.log(data.playVideo1);
            if (data.playVideo1 == true) {
                $("#v1")[0].play();
            }
        });
        $('#v1').on('ended', function() {
            socket.emit('video1End', { //send news to server
                video1End: true
            });
        });
    });
    </script>

    <video id="v1" width="320" height="240" controls="controls" src="video.mp4">
    </video>
</body>
	
</html>
