<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>movie</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
</head>

<body>
    <script>
    var socket = io.connect();
    var playonce = true;
    socket.on('connect', function() {
        // socket.emit('room', {
        //     room: ''
        // });
    });

    $(document).ready(function() {
        // 感測器感應到時，會傳true值

            socket.on('playVideo1', function(data) {
                console.log(data.playVideo1);
                if (data.playVideo1 == true && playonce ==true) {
                    $('body').append('<video id="v1" width="100%" height="100%" controls="controls" src="video.mp4"></video>');
                    $("#v1")[0].play();
                    playonce = false;
                }
            });
        // 播完影片後，傳送值回server
        $('#v1').on('ended', function() {
            socket.emit('video1End', { //send news to server
                video1End: true
            });
        });
    });
    </script>
    <style>
        body{
            margin:0;
            background-color: black;
        }
        /*圈住感測器位置*/
        #circle{
            display: inline-block;
            height: 70px;
            width: 70px;
            position: absolute;
            left: 300px;
            bottom: 300px;
            border: 3px solid white;
            border-radius: 100%;
            z-index: -1;
        }
        #v1{
            z-index: 10;
        }
    </style>
    <!-- 剪好的影片最後一幕是黑色的 -->
    <div id="circle"></div>
    <!-- <video id="v1" width="100%" height="100%" controls="controls" src="video.mp4">
    </video> -->
</body>
	
</html>
